
    <div class="container mt-5">
      <h2 class="text-center mb-5 font-weight-bold">Customer Regist</h2>
        {{#if errorAlert}}
        <div class="alert alert-danger my-2">{{errorAlert}}</div>
        {{/if}}
      <form method="POST" action="/regist">
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">username</label>
          <input
            id="form2Example1"
            class="form-control"
            type="text"
            name="username"
            value="{{oldData.username}}">
        <div class="text-danger font-weight-bold">{{errors.username}}</div>
    </div>
        <!-- Password input -->
    <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Password</label>
          <input
            id="form2Example1"
            class="form-control"
            type="password"
            name="password"
            value ="{{oldData.password}}">
        <div class="text-danger font-weight-bold">{{errors.password}}</div>
        </div>
<div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Fullname</label>
          <input
            id="form2Example1"
            class="form-control"
            type="text"
            name="name"
            value ="{{oldData.name}}">
        <div class="text-danger font-weight-bold">{{errors.name}}</div>
</div>
     <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Address</label>
          <input
            id="form2Example1"
            class="form-control"
            type="text"
            name="address"
            value ="{{oldData.address}}">
            </div>
        <div class="text-danger font-weight-bold">{{errors.address}}</div>
        <button type="submit" class="btn btn-primary btn-block mt-4">Sign up</button>
      </form>
    </div>
